<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="SIPE_CapturaPU" transaction-type="JTA">
    <jta-data-source>java:/siacDS</jta-data-source>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmBaseDatos</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmColumna</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmCorreoCab</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmCorreoDestinatario</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmCorreoDet</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmDispositivo</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmInstitucion</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmOperacionEsatdisticaDpa</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmOperacionEstadistica</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmOrganigrama</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmParametroGlobal</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmPeriodo</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmPersonal</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmPersonalCapacitacion</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmPersonalHistorico</class>
    <class>ec.gob.inec.administracion.ejb.entidades.AdmTabla</class>
    <class>ec.gob.inec.captura.ejb.entidades.CaptCabecera</class>
    <class>ec.gob.inec.captura.ejb.entidades.CaptCargaControl</class>
    <class>ec.gob.inec.captura.ejb.entidades.CaptCargaControlEquipo</class>
    <class>ec.gob.inec.captura.ejb.entidades.CaptCargaGeoreferencia</class>
    <class>ec.gob.inec.captura.ejb.entidades.CaptDatosTemp</class>
    <class>ec.gob.inec.captura.ejb.entidades.CaptDetalleH</class>
    <class>ec.gob.inec.captura.ejb.entidades.CaptDetalleV</class>
    <class>ec.gob.inec.captura.ejb.entidades.CaptEstado</class>
    <class>ec.gob.inec.captura.ejb.entidades.CaptGeoreferencia</class>
    <class>ec.gob.inec.captura.ejb.entidades.CaptGeoreferenciaCambio</class>
    <class>ec.gob.inec.captura.ejb.entidades.CaptObservacion</class>
    <class>ec.gob.inec.distribuciontrabajo.ejb.entidades.DisCargaTrabajo</class>
    <class>ec.gob.inec.distribuciontrabajo.ejb.entidades.DisEquipoTrabajo</class>
    <class>ec.gob.inec.distribuciontrabajo.ejb.entidades.DisEquipoTrabajoDetalle</class>
    <class>ec.gob.inec.distribuciontrabajo.ejb.entidades.DisFaseOperativo</class>
    <class>ec.gob.inec.geografia.ejb.entidades.GeoCobertura</class>
    <class>ec.gob.inec.geografia.ejb.entidades.GeoDpa</class>
    <class>ec.gob.inec.marco.ejb.entidades.MarAgropecuario</class>
    <class>ec.gob.inec.marco.ejb.entidades.MarEmpresa</class>
    <class>ec.gob.inec.marco.ejb.entidades.MarPersonaAtributo</class>
    <class>ec.gob.inec.marco.ejb.entidades.MarPoblacion</class>
    <class>ec.gob.inec.marco.ejb.entidades.MarPredio</class>
    <class>ec.gob.inec.marco.ejb.entidades.MarPredioAtributos</class>
    <class>ec.gob.inec.marco.ejb.entidades.MarVivienda</class>
    <class>ec.gob.inec.metadato.ejb.entidades.MetCatalogo</class>
    <class>ec.gob.inec.metadato.ejb.entidades.MetCatalogoEnlace</class>
    <class>ec.gob.inec.metadato.ejb.entidades.MetCatalogoEnlaceDet</class>
    <class>ec.gob.inec.metadato.ejb.entidades.MetConcepto</class>
    <class>ec.gob.inec.metadato.ejb.entidades.MetFormulario</class>
    <class>ec.gob.inec.metadato.ejb.entidades.MetFormularioSeccion</class>
    <class>ec.gob.inec.metadato.ejb.entidades.MetOperativo</class>
    <class>ec.gob.inec.metadato.ejb.entidades.MetSalto</class>
    <class>ec.gob.inec.metadato.ejb.entidades.MetSeccion</class>
    <class>ec.gob.inec.metadato.ejb.entidades.MetTipoCatalogo</class>
    <class>ec.gob.inec.metadato.ejb.entidades.MetValidacion</class>
    <class>ec.gob.inec.metadato.ejb.entidades.MetVariable</class>
    <class>ec.gob.inec.muestra.ejb.entidades.MueAtributoExtra</class>
    <class>ec.gob.inec.muestra.ejb.entidades.MueEmpresa</class>
    <class>ec.gob.inec.muestra.ejb.entidades.MueHogar</class>
    <class>ec.gob.inec.muestra.ejb.entidades.MueMuestra</class>
    <class>ec.gob.inec.muestra.ejb.entidades.MueMuestraDetalle</class>
    <class>ec.gob.inec.muestra.ejb.entidades.MueMuestraDetalleAsignacion</class>
    <class>ec.gob.inec.muestra.ejb.entidades.MuePersona</class>
    <class>ec.gob.inec.muestra.ejb.entidades.MuePredio</class>
    <class>ec.gob.inec.muestra.ejb.entidades.MueVivienda</class>
    <class>ec.gob.inec.proceso.ejb.entidades.ProActividad</class>
    <class>ec.gob.inec.proceso.ejb.entidades.ProActividadItem</class>
    <class>ec.gob.inec.proceso.ejb.entidades.ProFase</class>
    <class>ec.gob.inec.proceso.ejb.entidades.ProObjetoInformacion</class>
    <class>ec.gob.inec.proceso.ejb.entidades.ProSeguimiento</class>
    <class>ec.gob.inec.proceso.ejb.entidades.ProSeguimientoArchivo</class>
    <class>ec.gob.inec.proceso.ejb.entidades.ProSeguimientoRevisor</class>
    <class>ec.gob.inec.proceso.ejb.entidades.ProSubproceso</class>
    <class>ec.gob.inec.reportes.ejb.entidades.RepoColumna</class>
    <class>ec.gob.inec.reportes.ejb.entidades.RepoFiltro</class>
    <class>ec.gob.inec.reportes.ejb.entidades.RepoProcedimiento</class>
    <class>ec.gob.inec.reportes.ejb.entidades.RepoReporte</class>
    <class>ec.gob.inec.reportes.ejb.entidades.RepoSubreporte</class>
    <class>ec.gob.inec.seguridad.ejb.entidades.SegAplicacion</class>
    <class>ec.gob.inec.seguridad.ejb.entidades.SegAuditoriaCab</class>
    <class>ec.gob.inec.seguridad.ejb.entidades.SegAuditoriaDet</class>
    <class>ec.gob.inec.seguridad.ejb.entidades.SegControlTexto</class>
    <class>ec.gob.inec.seguridad.ejb.entidades.SegPagina</class>
    <class>ec.gob.inec.seguridad.ejb.entidades.SegPermiso</class>
    <class>ec.gob.inec.seguridad.ejb.entidades.SegRol</class>
    <class>ec.gob.inec.seguridad.ejb.entidades.SegRolPermiso</class>
    <class>ec.gob.inec.seguridad.ejb.entidades.SegRolUsuario</class>
    <class>ec.gob.inec.seguridad.ejb.entidades.SegSesionActiva</class>
    <class>ec.gob.inec.seguridad.ejb.entidades.SegUsuario</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
</persistence>
